:root {
    --color-primario: rgb(255, 161, 161);
    --color-secundario: rgb(161, 235, 255);
    --color-terciario: rgb(189, 161, 255);
}



font-face {
    font-family: Jua;
    src: url("fonts/Jua-Regular.ttf");
}

body {
    background-image: url(img/1bg.gif);
    font-family: "Jua", system-ui;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
    transition: 0.3 ease;
}

section {
    color: rgb(161, 190, 248);
    background-color: white;
    border: 3px;
    margin: 0 auto;
    padding: 20px 20px;
    border-style: dashed;
}

.textcenter{
    text-align: center;
}
.principal{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.galeria {
 color: rgb(161, 190, 248);
    background-color: white;
    border: 3px;
    margin: 8px;
    padding: 20px 20px;
    border-style: dashed;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
}

h4 {
    color: var(--color-primario);
}



#titulo {
    color: var(--color-primario);
}

.sin {
    margin: 20px;
    padding: 10px;
}

.def {
    margin: 20px;
    padding: 10px;
}

.zoe {
    margin: 20px;
    padding: 10px;
}

.def {
    margin: 20px;
    padding: 10px;
}

#in {
    margin: 20px;
    padding: 10px 20px 10px;
}

#ilus {
    margin: 20px;
    padding: 10px 20px 10px;
}

#con {
    margin: 20px;
    padding: 10px 20px 10px;
}

#for {
    margin: 20px 10px;
    padding: 10px 20px 10px;
}

/* añadir ::before o ::after */
p::before {
    content: ">< ,,x> ";
    color: var(--color-pr);
}

a:hover {
    background-color: var(--color-secundario);
}

/* añadir hover */